
PRODUX/.vs/PRODUX/v15/.suo
PRODUX/PRODUX/PRODUX.Android/obj/Debug/PRODUX.Android.csproj.FileListAbsolute.txt
PRODUX/PRODUX/PRODUX.Android/obj/Debug/PRODUX.Android.csprojResolveAssemblyReference.cache
PRODUX/PRODUX/PRODUX.iOS/obj/iPhoneSimulator/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PRODUX/PRODUX/PRODUX.iOS/obj/iPhoneSimulator/Debug/PRODUX.iOS.csproj.CoreCompileInputs.cache
PRODUX/PRODUX/PRODUX.iOS/obj/iPhoneSimulator/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PRODUX/PRODUX/PRODUX.iOS/obj/iPhoneSimulator/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PRODUX_API/.vs/PRODUX_API/v15/.suo
PRODUX_API/.vs/PRODUX_API/v15/Server/sqlite3/storage.ide
PRODUX_API/PRODUX_API/bin/PRODUX_API.dll
PRODUX_API/PRODUX_API/bin/PRODUX_API.pdb
PRODUX_API/PRODUX_API/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PRODUX_API/PRODUX_API/obj/Debug/PRODUX_API.csproj.CoreCompileInputs.cache
PRODUX_API/.vs/PRODUX_API/v15/.suo
PRODUX_API/.vs/PRODUX_API/v15/Server/sqlite3/storage.ide
PRODUX_API/PRODUX_API/bin/PRODUX_API.dll
PRODUX_API/PRODUX_API/bin/PRODUX_API.pdb
PRODUX_API/PRODUX_API/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PRODUX_API/PRODUX_API/obj/Debug/PRODUX_API.csproj.CoreCompileInputs.cache
PRODUX/.vs/PRODUX/v15/Server/sqlite3/storage.ide
PRODUX/.vs/PRODUX/v15/Server/sqlite3/storage.ide
